
<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
     <!-- Brand -->
    <a class="navbar-brand" href="#">Project Phrases</a>
    <!-- Links -->
    <ul class="navbar-nav mr-auto">
        <!-- Dropdown -->
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                Menu
            </a>
            <div class="dropdown-menu">
                <a class="dropdown-item" routerLink="" routerLinkActive="Active">Home</a>
                <a class="dropdown-item" routerLink="/users" routerLinkActive="Active">Users</a>
                <a class="dropdown-item" routerLink="/phrases" routerLinkActive="Active">Phrases</a>
            </div>
        </li>
    </ul>
</nav>