<div class="sidenav">
    <h2 class="text-center">Users:</h2>
        <div *ngFor="let user of users">
            <button class="btn btn-block" id="userlist" (click)="submitId(user.id)">{{ user.first_name }}</button>
        </div>
</div>
<div class="container" style="margin-top: 60px;">
    <div class="row">
        <div class="col-sm-4 mx-auto">
            <h5>Info</h5>
            <p>First Name: {{userInfo.first_name}}</p>
            <p>Phone: {{userInfo.phone_number}}</p>
        </div>
    </div>
</div>
<div class="container" style="margin-top: 60px;">
    <div class="row">
        <div class="col-sm-4 mx-auto">
            <form class="card card-body bg-info" (submit)="submitInfo(f_name, l_name, phone)">    
                <h5 class="text-center text-light">New User</h5>
                <input class="form-group" type="text" placeholder="First Name" #f_name>
                <input class="form-group" type="text" placeholder="Last Name" #l_name>
                <input class="form-group" type="text" placeholder="Phone Number" #phone>
                <button class="btn btn-outline-light">Create</button>
            </form>
        </div>
    </div>
</div>